

.editarea {

	display: flex;
	align-items: center;
  	justify-content: center;
	height: 10vh;
	margin-top: 20px;		
	border: 1px solid #ffffff;
}


.editarea .txtbox{

	resize:none;
	border: 1px solid #ffffff;
	background:transparent;
	outline:none;
	text-align: center;
}

.editarea .txtbox:disabled {
}

.editbtn_on {
	
	/*border: 3px solid #111111;	
	*/outline:#FA8000 dashed 5px;	
}

.editbtn_off {
	outline: none;

}
#stuTab {

	border: 3px solid #FF0000;
	word-break:break-all; 
	word-wrap:break-all;
	width: 90vw;
}

.prebtn {
  -webkit-border-radius: 45;
  -moz-border-radius: 45;
  border-radius: 45px;
  font-family: Arial;
  color: #ffffff;
  font-size: 45px;
  background: #1E90FF;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}

.prebtn:hover {
  background: #6bc6ff;
  text-decoration: none;
  color:#fff;
}

.slistbtn {
  -webkit-border-radius: 45;
  -moz-border-radius: 45;
  border-radius: 45px;
  font-family: Arial;
  color: #ffffff;
  font-size: 45px;
  background: #1E90FF;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}

.slistbtn:hover {
  background: #6bc6ff;
  text-decoration: none;
  color:#fff;
}


#stuTab {

	border: 3px solid #FF0000;
	word-break:break-all; 
	word-wrap:break-all;
	width: 95vw;
}


#quizTab .quiz_selector:disabled{

	background: #dddddd;	
}

#quizTab .quiz_chkbox:disabled{

	background: #dddddd;	
}


